.form{
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  
.form-input{
    border:1px solid rgb(189, 162, 162);
    width:60%;
    padding:10px;}
.btn{
    padding:12px;
    width:7%;
    background-color: #1b3987;
    background-color: rgb(20, 167, 20);
    color:white;
    margin-left:20px;
    font-size:16px;
    border:none;
    cursor: pointer;
  }
.btn:hover{
  background-color: rgb(18, 153, 18);
}
  @media(max-width:700px){
    .form-input{
      width:90%;
      margin:auto;
      padding:10px;
    }
    .btn{
      margin:auto;
      margin-top:10px;
      width:20%;
      padding:10px;
    }
  }